/* Footer.css */
.footer {
  position: relative;
  bottom: 0;
  width: 100%;
  background-color: #333;
  color: #fff;
  padding: 30px 0;
}

.footerContent {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 20px;
}

.footerLogo img {
  max-width: 100%;
  height: auto;
}

.footerLinks ul,
.footerSocial ul {
  list-style-type: none;
  display: flex;
  margin: 0;
  padding: 0;
}

.footerLinks li,
.footerSocial li {
  margin: 0 10px;
}

.footerLinks a,
.footerSocial a {
  text-decoration: none;
  color: #fff;
  font-size: 20px;
}

/* Icon styles for the social links */
.footerSocial i {
  font-size: 24px;
}

.footerBottom {
  text-align: center;
  margin-top: 20px;
}

.footerBottom p {
  font-size: 14px;
}
