/* General and Utility Styles */
@font-face {
  font-family: "Source_san_pro";
  src: url("../assets/font/SourceSansPro-Regular.otf"), format("opentype");
}

* {
  box-sizing: border-box;
  font-family: "Source_san_pro", sans-serif;
  transition: ease-in-out 0.3s;
}

.container {
  width: 100%;
  height: 100%;
  min-height: 100vh;
  background-color: rgba(85, 85, 85, 0.185);
}

/* HomePage Styles */
.homePage {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  padding: 50px;
  background: url("../../assets/backGround_2.jpg") center / cover no-repeat;
}

/* Input Field Styles */
.inputData {
  display: block;
  max-width: 600px;
  width: 100%;
  margin: 0 auto;
  padding: 20px;
  background-color: #000;
  border-radius: 8px;
  font-size: 1rem;
  color: #ffff00;
  opacity: 0.9;
}

.inputData .ant-form-item label {
  color: #ffff00;
  font-weight: bold;
  font-size: medium;
}

/* Input Field Text Highlight */
@keyframes gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

.section-title {
  background: -webkit-linear-gradient(
    45deg,
    #ff9999,
    #ffcc99,
    #ffff99,
    #ccff99,
    #99ccff,
    #cc99ff,
    #ff99cc
  );
  background-size: 200% 200%;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-size: 2rem;
  text-align: center;
  margin-bottom: 20px;
  animation: gradient 5s ease infinite;
}

.inputData .ant-form-item input {
  color: #ffff00;
  background-color: #000;
  border-radius: 4px;
  border: 1px solid #ffff00;
}

/* Button Styles */
.inputButton.ant-btn {
  width: 100%;
  height: 50px;
  background-color: #000;
  color: #ffff00;
  font-size: 1rem;
  border-radius: 4px;
  border: 1px solid #ffff00;
  margin-top: 20px;
  transition: transform 0.3s ease-in-out;
}

.inputButton.ant-btn:hover {
  background-color: black;
  color: pink;
  border: none;
  font-size: x-large;
  transform: scale(1.05);
}

/* GPT Answer Styles */
.answer-gpt {
  display: block;
  width: 100%;
  height: auto;
  padding: 10px 30px;
  margin-top: 30px;
  margin-right: 30px;
  border-radius: 30px;
  background-color: black;
  color: white;
  font-size: large;
  font-weight: bold;
}

.plans-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  gap: 1em;
  justify-items: center;
  align-items: start;
  border-bottom: 4px solid #ff6347;
  padding: 1em;
}

.plan {
  width: 100%;
  background-color: #555;
  border-radius: 30px;
  padding: 1em;
  box-sizing: border-box;
  text-align: center;
  color: #fff;
}

/* Title Styles */
.answer-title {
  text-align: center;
  font-weight: bold;
}

/* Highlighted Text */
.section-title {
  color: yellow;
}

.exercise-name {
  padding-left: 15px;
  color: white;
}

.exercise-details {
  padding-left: 30px;
  color: #dba9a9;
}

/* Download Button Styles */
.download-plan {
  text-align: center;
  margin-top: 20px;
}

.download-plan button,
.download-plan button a {
  padding: 10px 20px;
  border-radius: 10px;
  font-size: 15px;
  background-color: black;
  color: yellow;
  text-decoration: none;
}

.download-plan button:hover,
.download-plan button a:hover {
  color: white;
  background-color: blueviolet;
  transition: 0.3s;
}
