.exerciseTraining {
  width: 100%;
  min-height: 1000px;
  max-height: auto;
  padding: 50px 50px;
  background: url("../../assets/backGround_2.jpg") center / cover no-repeat;
  z-index: -1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: #333;
}

.section-title {
  background: -webkit-linear-gradient(
    45deg,
    #ff9999,
    #ffcc99,
    #ffff99,
    #ccff99,
    #99ccff,
    #cc99ff,
    #ff99cc
  );
  background-size: 200% 200%;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-size: 3rem;
  margin-bottom: 20px;
  animation: gradient 5s ease infinite;
  display: block;
  text-align: left;
}

.exercises-container {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 2em;
  justify-items: center;
  align-items: start;
  border-bottom: 4px solid #ff6347;
  padding: 1em;
}

.exercise {
  width: 100%;
  background-color: #555;
  border-radius: 30px;
  padding: 1em;
  box-sizing: border-box;
  text-align: center;
  color: #fff;
}

.exercise iframe {
  max-width: 500px;
  height: 300px;
  border: none;
}

.exercise button {
  margin-top: 1em;
  padding: 10px 20px;
  border-radius: 20px;
  background-color: #ff6347;
  color: #fff;
  font-size: 1em;
  font-weight: 300;
  cursor: pointer;
  transition: background-color 0.3s;
}

.exercise button:hover {
  background-color: #ee3e32;
}

@media (min-width: 1280px) and (max-width: 1920px) {
  .exercises-container {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 1280px) {
  .exercises-container {
    grid-template-columns: repeat(1, 1fr);
  }
}

@keyframes gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
