/* Navbar.css */
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 150px;
  padding: 0 100px;
  background-color: black;
  /* margin-bottom: 20px; */
}

.navIcon img {
  max-width: 100%;
  height: auto;
}

.navItems ul {
  display: flex;
  justify-content: flex-start;
  list-style-type: none;
}

.navItems li {
  margin: 0 8px;
}

.navItems a {
  text-decoration: none;
  font-size: 30px;
  font-weight: bold;
  color: #ffb800;
  padding: 14px 16px;
  border-radius: 4px;
  transition: color 0.3s;
}

.navItems a:hover {
  color: red;
}

.navItems .activeLink {
  color: red;
}
